<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 加载配置文件 -->
    <context:property-placeholder location="classpath:cfg.properties"/>

    <!-- 单机版Solr -->
    <!--<bean id="httpSolrClient" class="org.apache.solr.client.solrj.impl.HttpSolrClient">-->
        <!--<constructor-arg name="baseURL" value="${solr.standalone.url}"/>-->
    <!--</bean>-->

    <!-- 集群版Solr -->
    <bean id="cloudSolrClient" class="org.apache.solr.client.solrj.impl.CloudSolrClient">
        <constructor-arg name="zkHost" value="${solr.cluster.host}"/>
        <property name="defaultCollection" value="${solr.cluster.collection}"/>
    </bean>
</beans>